:root{
  --bgSub:rgb(16, 16, 16);
  --bg:rgb(23, 23, 23);
  --bg2:rgb(33, 33, 33);
  --main: rgb(165, 172, 162);
  --accent: rgb(121, 255, 186);
  --accentDark: rgb(0, 207, 100);
  --headerHeight: 10vh;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  font-family: Tahoma,Verdana,Segoe,sans-serif; 
  background: var(--bgSub);
  color: var(--main);
}
.container
{
  background: var(--bg);
  padding: 1rem;
  margin:0 auto;
  max-width:650px;
  margin-top:1rem;
  border-radius: 2vw;
  text-align: center;
}
.header
{
  /* position:fixed;
  top:0;
  left:0; */
  height: var(--headerHeight);
  max-height:var(--headerHeight);;
  /* line-height: var(--headerHeight); */
  background:var(--bg2);
  text-align:left;
  padding-left: 1rem;
  padding-top:1.5rem;
}
.header-title
{
  font-size:1.5rem;
  font-weight: bold;
}
.motd{
  position:relative;
  top:calc( - var(--headerHeight) / 2vh);
}
a {
  text-decoration: none;
  color: var(--accent);
}
hr
{
  border-color: var(--main);
}
input[type=text]
{
  /* width:80vw; */
  max-width:600px;
  background:var(--bg);
  color:var(--accent);
  outline: none;
  border:none;
  padding:1rem;
  border-radius: 1rem;
}
button{
  background:var(--accentDark);
  color:var(--bgSub);
  outline: none;
  border:none;
  font-size:1rem;
  padding:0.75rem;
  margin:0.5rem;
  border-radius: 0.25rem;
  /* transition: 0.2s all; */
  font-weight: bold;
  min-width: 5rem;
  border-style: solid;
  border-width: 2px;
}
button:hover
{
  background:var(--accent);
}
.btn-disabled
{
  background:var(--bg2);
  color:var(--accent);
  border-color:var(--accentDark);
}
.btn-disabled:hover
{
  background:var(--bg2);
}
.category-item
{
  display:inline-block;
  border-radius: 1rem;
  background:var(--bgSub);
  width:8rem;
  min-width:8rem;
  max-width:420px;
  overflow-x: hidden;
  padding:0.5rem;
  margin:0.5rem;
  cursor: pointer;
}
.category-item:hover{
  background:var(--bg)
}
.category-on{
  background:var(--accentDark);
  color:var(--bg2);
}
.category-on:hover
{
  background:var(--accent);
}

.card{
  text-align: center;
 margin-top:1rem;
 background:var(--bg2); 
 padding:1rem;
 border-radius: 1rem;
 position: relative;
}
.card-title{
  font-size:1.5rem;
  font-weight: bold;
}
.card-subtitle{
  display:inline-block;
  border-radius: 1rem;
  background:var(--bg);
  width:15vw;
  min-width:15vw;
  max-width:320px;
  padding:1rem;
}
.card-meta
{
  position:absolute;
  top:1rem;
  right:1rem;
  /* width: 100px; */
  text-align: right;
}
.card-tag{
  background:var(--bgSub);
  color:var(--main);
  border-radius: 1rem;
  display:inline-block;
  padding:0.5rem;
}
.small
{
  font-size:0.75rem;
  opacity: 0.75;
}
.product-icon
{
  width:64px;
  max-width:64px;
  border-radius: 100%;
}
.product-ss
{
  width:80%;
  max-width:80%;
}

.modal-shade{
  visibility: hidden;
  position:fixed;
  left:0;
  top:0;
  right:0;
  bottom:0;
  z-index: 998;
  background:rgba(0,0,0,0.5);
}

.modal{
  visibility: hidden;
  position:fixed;
  left:calc((100vw - 650px) / 2);
  top:10vw;
  right:0;
  z-index: 999;
  text-align: center;
  background:var(--bg);
  color:var(--main);
  border-radius:0.25rem;
  max-width:650px;
}
.modal-title{
  font-size:2rem;
  background:var(--bg2);
  padding:0.75rem;
}
.modal-content{
  padding:1rem;
  margin:1rem;
  background:var(--bg2);
  border-radius:0.25rem;
}

/*SCROLLBAR*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bgSub);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main);
}